PORT=
# PROMIS API Credentials and URL
PROMIS_BASE_URL=http://www.assessmentcenter.net/ac_api
PROMIS_API_VERSION=2014-01
PROMIS_REGISTRATION=
PROMIS_TOKEN=
PEDIATRIC_PAIN_INTERFERENCE_SHORT_FORM_OID=

PYTHON_VERSION=3.9.25

ORIGINS=["*"]
